* {
    background-color: {{colors.background.default.hex}};
    text-color: {{colors.on_surface.default.hex}};
}

window {
    background-color: {{colors.background.default.hex}};
    border-color: {{colors.primary.default.hex}};
}

element selected {
    background-color: {{colors.primary.default.hex}};
    text-color: {{colors.on_primary.default.hex}};
}

element-text, element-icon {
    text-color: inherit;
}

inputbar {
    text-color: {{colors.on_surface.default.hex}};
}
