@define-color highlight {{colors.primary.default.hex}};
@define-color dark-9 {{colors.background.default.hex}};
@define-color dark-8 {{colors.surface_container.default.hex}};
@define-color dark-7 {{colors.surface_container_high.default.hex}};
@define-color dark-6 {{colors.outline_variant.default.hex}};
@define-color dark-5 {{colors.outline.default.hex}};
